body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue);
  overflow: hidden;

  /* font-family: "Jost", sans-serif; */
}

/* -------------------------Login Page----------------------------- */

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-right: 50px;
}

.auth-page img {
  width: 400px;
}

.auth-page form {
  color: var(--white);
  width: 470px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
}

.auth-page .title {
  margin-bottom: 30px;
  text-align: center;
}
.auth-page .title p {
  color: var(--grey);
  font-size: 12px;
  letter-spacing: 2px;
}
.auth-page .title h1 {
  color: var(--white);
  font-size: 27px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.auth-page .input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.auth-page .input-form label {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.auth-page .input-form input {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: var(--white-smoke);
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  color: var(--purple);
  border: 2px solid transparent;
  transition: 0.3s;
}

.auth-page .input-form input:focus {
  border: 2px solid var(--pink);
  background-color: var(--white-smoke-hover);
}

.auth-page a {
  font-size: 13px;
  text-align: left;
  width: 100%;
  margin-top: 5px;
  color: var(--pink-light);
  transition: 0.2s;
}
.auth-page a:hover {
  font-size: 13px;
  text-align: left;
  width: 100%;
  margin-top: 5px;
  text-decoration: underline;
  color: var(--pink);
}

.auth-page button {
  margin-top: 35px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: var(--pink);
  color: var(--white);
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

.auth-page .input-form.button p {
  text-align: center;
  font-size: 13px;
  width: 100%;
  margin-top: 5px;
  color: var(--white);
}

.auth-page .input-form.button p a {
  color: var(--pink-light);
  transition: 0.2s;
}
.auth-page .input-form.button p a:hover {
  color: var(--pink);
}

.auth-page button:hover {
  background-color: var(--pink-hover);
}

/* ------------------REGISTER-------------------- */

.auth-page.register-page .input-form.input-check {
  margin-top: 10px;
}

.auth-page.register-page .input-form.input-check input {
  width: 20px;
  height: 20px;
  margin-top: 6px;
  transform: scale(1.7);
  margin-left: 4px;
  outline: none;
  cursor: pointer;
}

.auth-page.register-page .input-form.input-check label {
  margin-left: 10px;
  font-size: 12px;
  margin-top: 2px;
  text-align: left;
  font-weight: lighter;
  color: var(--white-smoke);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
}

/* ----------Home--------- */
.home-page {
  display: flex;
  width: 100%;
  height: 100vh;
}
.home-page *::placeholder {
  /* modern browser */
  color: var(--white-smoke2);
}

.list-container {
  height: 100%;
  width: 360px;
  background-color: var(--blue);
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.server-top {
  position: absolute;
  height: 200px;
  width: 100%;
  top: 0;
  pointer-events: none;
}

.server-top .earth {
  background-image: url("./Assets/Img/Application/Earth.png");
  height: 140px;
  width: 140px;
  background-size: cover;
  position: absolute;
  margin-left: -25px;
  margin-top: -25px;
  cursor: pointer;
  transition: 0.3s;
  pointer-events: all;
}

.server-top .earth:hover {
  transform: scale(1.05);
  transform: rotate(90deg);
}

.server-top .discover {
  background-image: url("./Assets/Img/Application/Discover2.png");
  height: 70px;
  width: 70px;
  background-size: cover;
  position: absolute;
  margin-top: 80px;
  margin-left: -20px;
  cursor: pointer;
  transition: 0.3s;
  pointer-events: all;
}

.server-top .discover:hover {
  transform: scale(1.1);
  /* transform: rotate(-90deg); */
}
/* ----------------------------------------- */
.list-container .profil-bar {
  width: 100%;
  height: 90px;
  background-color: var(--blue-light);
  display: flex;
  align-items: center;
  padding: 0px 30px;
  justify-content: space-between;
}

.list-container .profil-bar .profil-display {
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.list-container .profil-bar .icon {
  width: 20px;
  cursor: pointer;
}

.list-container .profil-bar .profil-data {
  color: white;
  cursor: pointer;
  transition: 0.3s;
  flex-grow: 1;
  padding-left: 10px;
}

.list-container .profil-bar .profil-data .username {
  font-size: 15px;
}
.list-container .profil-bar .profil-data .description {
  font-size: 11px;
  color: var(--white-smoke);
}

.list-container .profil-bar .icon {
  color: var(--white);
  font-size: 18px;
}
/* --- */
.list-container .search-bar {
  width: 100%;
  height: 52px;
  background-color: var(--purple-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  /* ---------------------------------------------------------- */
}
.list-container .search-bar .icon {
  color: var(--grey-dark);
  font-size: 16px;
}

.list-container .search-bar input {
  height: 35px;
  width: 80%;
  border-radius: 4px;
  background-color: var(--blue-grey);
  padding-left: 15px;
  color: var(--white);
  border: 2px solid transparent;
  transition: 0.3s;
}
.list-container .search-bar input:focus {
  border: 2px solid var(--blue);
  transition: 0.3s;
}
.list-container .room-bar {
  width: 100%;
  flex-grow: 1;
  /* height: 100%;  */
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  /* --------------------------------------------------------------- */
}
.list-container .server-list {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;

  gap: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 100%;
  overflow-y: auto;
}
.list-container .server-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-container .server-item .bubble {
  background-color: var(--white-smoke);
  width: 310px;
  height: 56px;
  border-radius: 100px;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.list-container .server-item.unselected .bubble .server-display {
  background-color: var(--purple);
  margin-left: 5px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  transition: 0.3s;
}

.list-container .server-item.unselected .bubble .server-data h1 {
  font-size: 12px;
  color: var(--purple-light);
  transition: 0.3s;
  margin-top: -6px;
}
.list-container .server-item.unselected .bubble .server-data p {
  font-size: 9px;
  color: var(--blue-grey);
  transition: 0.3s;
}

.list-container .server-item.selected .bubble {
  background-color: var(--white);
  width: 325px;
  height: 70px;
  border-radius: 100px;
  transition: 0.3s;
}
.list-container .server-item.selected .bubble .server-display {
  background-color: var(--purple);
  margin-left: 5px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  transition: 0.3s;
}

.list-container .server-item.selected .bubble .server-data h1 {
  font-size: 15px;
  color: var(--purple-light);
  transition: 0.3s;
  margin-top: -6px;
}
.list-container .server-item.selected .bubble .server-data p {
  font-size: 10px;
  color: var(--blue-grey);
  transition: 0.3s;
}

.list-container .server-item.unselected .bubble:hover {
  background-color: var(--white-smoke-hover);
  width: 315px;
  cursor: pointer;
}

.list-container .server-item.unselected .selected-area {
  background-color: var(--white);
  width: 0;
  transition: 0.3s;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.list-container .server-item.selected .selected-area {
  background-color: var(--white);
  width: 2px;
  transition: 0.3s;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* TOPBAR */
.list-container .top-bar {
  height: 100px;
  background-color: var(--purple-light);
  /* border-bottom: 2px solid var(--blue); */
  padding-left: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-container .top-bar .server-name {
  color: var(--white-smoke);
  font-size: 23px;
  font-weight: bolder;
}

.list-container .top-bar .server-description {
  color: var(--white-smoke2);
  font-size: 12px;
}
/* ---------- RIGHT */

.room-container {
  height: 100%;
  flex-grow: 1 ;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-container .top {
  width: 100%;
  height: 70px;
  background-color: var(--blue-light);
  display: flex;
  align-items: center;
  padding: 10px;
}

.room-container .top .server-display {
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 50%;
}

.room-container .top .server-data {
  margin-left: 10px;
}

.room-container .top .server-data .server-title {
  font-size: 15px;
  color: var(--white);
}

.room-container .top .server-data .server-member {
  font-size: 12px;
  color: var(--white-smoke);
}

.room-container .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 10px;
  gap: 5px;
}

.room-container .bottom .button-bubble {
  width: 45px;
  height: 45px;
  background-color: var(--blue);
  border-radius: 50%;
  color: var(--white-smoke);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.room-container .bottom .input-message {
  flex-grow: 1;
  border-radius: 5px;
  background-color: var(--blue);
  padding-left: 14px;
  color: var(--white);
  font-size: 13px;
}

.room-container .bottom .input-message::placeholder {
  color: var(--grey);
}

/* ----------Chat List------------ */

.chat-room {
  flex-grow: 1;
  gap: 10px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  overflow-y: auto;
}

.chat-room .chat-scroll {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 15px 25px;
  gap: 10px;
}

.chat-room .chat-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-room .chat-item.yours {
  align-items: flex-end;
}

.chat-room .chat-item .bubble {
  display: flex;
  flex-direction: row;
}

.chat-room .chat-item.yours .bubble {
  flex-direction: row-reverse;
}

.chat-room .chat-item .bubble img {
  width: 50px;
  height: 50px;
  background-color: var(--blue-light);
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.chat-room .chat-item .form {
  max-width: 380px;

  background-color: var(--blue-light);
  border-radius: 5px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 10px;
}

.chat-room .chat-item.yours .form {
  margin-right: 10px;
  margin-left: 0;
}

.chat-room .chat-item .form .name {
  color: var(--pink-light);
  font-weight: bold;
  top: 0;
  font-size: 14px;
  margin-top: 2px;
}

.chat-room .chat-item .form .message {
  color: var(--white);
  font-size: 13px;
  margin-top: 5px;
}

/* -----------POP UP--------------- */

.popup-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.popup-container .popup-menu {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.653);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  transition: 1s;
  position: absolute;
}
.popup-container .closepopup {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.popup-container .popup-menu.hidden {
  background-color: transparent;
  pointer-events: none;
}

.popup-container .popup-menu.hidden .menu {
  transform: scale(0);
}

.popup-container .menu {
  width: 450px;
  min-height: 250px;
  background-color: var(--white-smoke);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  transform: scale(1);
  transition: 0.2s;
  z-index: 1;
}

.popup-container .menu.hidden {
  display: none;
}

.popup-container .menu .menu-title {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.popup-container .menu-title h1 {
  font-size: 23px;
  color: var(--purple);
  font-weight: bolder;
}
.popup-container .menu-title p {
  font-size: 12px;
  color: var(--purple);
}

.menu-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 25px 0;
}

.menu-content .item {
  width: 80%;
  height: 110px;
  border-radius: 80px;
  border: 2px solid var(--purple);
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  cursor: pointer;
}
.menu-content .item:hover {
  background-color: var(--white-smoke2);
}
.menu-content .item-2 img {
  margin-left: 10px;
}

.menu-content .item .item-content {
  width: 210px;
}

.menu-content .item .item-content h1 {
  font-size: 20px;
  color: var(--purple);
  font-weight: bolder;
}

.menu-content .item .item-content p {
  font-size: 13px;
  color: var(--purple-light);
}

.menu-footer {
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-footer h1 {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
  color: var(--purple);
}

.menu-footer button {
  background-color: var(--purple);
  width: 85%;
  height: 40px;
  color: var(--white);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.menu-footer button:hover {
  background-color: var(--purple-light);
}

.menu-footer.double-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-footer.double-button .back {
  cursor: pointer;
}

.menu-footer.double-button .button {
  padding: 10px 20px;
  font-size: 13px;
  border-radius: 3px;
  background-color: var(--purple);
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}
.menu-footer.double-button .button:hover {
  background-color: var(--purple-light);
}

.menu-absolute {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.popup-menu .join-content {
  justify-content: start;
  padding: 0;
  padding-bottom: 12px;
}
.popup-menu .menu-content .input-form {
  width: 92%;
  display: flex;
  flex-direction: column;
}

.popup-menu .menu-content .input-form label {
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--purple);
  font-weight: bold;
}

.popup-menu .menu-content .input-form p {
  font-size: 14px;
  margin-top: 4px;
}

.popup-menu .menu-content .input-form p a {
  color: var(--purple);
  margin-left: 5px;
  font-weight: bold;
}

.popup-menu .menu-content .input-form input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: var(--white-smoke2);
  padding-left: 10px;
  border: 2px solid transparent;
  transition: 0.3s;
}
.popup-menu .menu-content .input-form textarea {
  width: 100%;
  min-height: 80px;
  border-radius: 3px;
  background-color: var(--white-smoke2);
  padding-left: 10px;
  padding-top: 7px;
  border: 2px solid transparent;
  transition: 0.3s;
  outline: none;
  resize: none;
}
.popup-menu .menu-content .preview-item {
  border: 2px solid var(--purple);
  width: 80%;
  height: 100px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.popup-menu .menu-content .preview-item .data {
  margin-left: 10px;
}

.popup-menu .menu-content .preview-item .name {
  font-size: 18px;
  color: var(--purple-light);
  font-weight: bold;
}

.popup-menu .menu-content .preview-item .tagline {
  font-size: 14px;
  color: var(--purple-light);
}

.popup-menu .menu-content .preview-item .preview-image {
  width: 85px;
  height: 85px;
  background-color: var(--purple);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popup-menu .menu-content .preview-item .preview-image input {
  display: none;
}
.popup-menu .menu-content .preview-item .preview-image p {
  position: absolute;
  color: var(--white-smoke);
  font-size: 13px;
  pointer-events: none;
}
.popup-menu .menu-content .preview-item .preview-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.popup-menu .menu-content .input-form input:focus {
  border: 2px solid var(--purple-light);
}

.popup-menu .menu-content .input-form textarea:focus {
  border: 2px solid var(--purple-light);
}

.popup-menu .menu-content .input-form input::placeholder {
  color: var(--purple-light);
}

.popup-menu .join-content img {
  width: 170px;
  object-fit: cover;
}

.menu-absolute .exit {
  color: var(--purple-light);
  font-size: 23px;
  right: 0;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  pointer-events: all;
}

.popup-menu.discover .menu-absolute .search {
  margin-top: 20px;
  margin-left: 80px;
  width: 220px;
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  pointer-events: all;
}
.popup-menu.discover .menu-absolute .search input {
  height: 100%;
  background-color: var(--purple);
  border-radius: 50px;
  padding-left: 40px;
  color: var(--white);
}

.popup-menu.discover .menu-absolute .search .icon {
  position: absolute;
  color: var(--white-smoke);
  margin-left: 13px;
}

.popup-menu.discover .menu.discover-menu {
  width: 80%;
  min-height: 600px;
  transition: 0.3s;
}

.popup-menu.discover .menu.discover-menu .discover-content {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  height: 400px;
  padding: 0;
  justify-content: start;
  padding: 30px 30px;
}

.popup-menu.discover .menu.discover-menu .discover-content .list {
  min-width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
}
.popup-menu.discover .menu.discover-menu .discover-content .list .preview-item {
  max-width: 49%;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--purple);
  border: 2px solid var(--white);
}

.popup-menu.discover
  .menu.discover-menu
  .discover-content
  .list
  .preview-item:hover {
  background-color: var(--pink);
  border: 2px solid var(--white);
}

.popup-menu.discover
  .menu.discover-menu
  .discover-content
  .list
  .preview-item
  img {
  background-color: var(--white);
}

.popup-menu.discover
  .menu.discover-menu
  .discover-content
  .list
  .preview-item
  .name {
  color: var(--white);
  font-weight: normal;
}

.popup-menu.discover
  .menu.discover-menu
  .discover-content
  .list
  .preview-item
  .tagline {
  color: var(--white-smoke);
  font-size: 13px;
}

.popup-menu.detail .menu-content img {
  background-color: var(--purple);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

/* ------------CUSTOM RIGHT CLICK--------------- */
.custom-right-click {
  color: var(--white-smoke2);
  width: fit-content;
  position: absolute;
}

.custom-right-click .server-detail {
  background-color: var(--purple-dark);
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px;
  border-radius: 5px;
  width: fit-content;
  pointer-events: all;
  transform: scale(1);
  transition: 200ms ease-in-out;
}

.custom-right-click .server-detail.hidden {
  transform: scale(0);
  transform-origin: top left;
}

.custom-right-click .line {
  background-color: var(--purple-light);
  width: 90%;
  height: 1px;
  border-radius: 1px;
}

.custom-right-click .server-detail .item {
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
  padding: 7px 0;
  border-radius: 5px;
}

.custom-right-click .server-detail .item:hover {
  background-color: var(--purple);
  color: var(--white);
}

.custom-right-click .server-detail .item p {
  font-size: 15px;
  margin-left: 10px;
}

.custom-right-click .server-detail .item.danger {
  color: var(--pink);
}

/* -------------FULL MENU------------- */

.full-menu {
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.757);
  transition: 0.2s;
  pointer-events: all;
}
.full-menu.server-view.hidden{
  opacity: 0;
  pointer-events: none;

}

.full-menu.server-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-view .server-detail {
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  gap: 20px;
}
.server-detail img {
  width: 170px;
  height: 170px;
  background-color: var(--pink-light);
  border-radius: 50%;
  border: 2px solid var(--pink-light);
}
.server-detail .detail {
  width: 500px;
  max-width: 600px;
  padding-top: 20px;
}
.server-detail .detail h1 {
  font-weight: bolder;
  color: var(--pink-light);
}
.server-detail .detail h4 {
  font-weight: bolder;
  color: var(--pink-hover);
  margin-top: -5px;
}
.server-detail .detail p {
  font-weight: bolder;
  color: var(--pink-light);
  font-weight: lighter;
  margin-top: 13px;
}

.server-manager {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.server-manager .exit{
  color: var(--pink-light);
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 50px;
  pointer-events: all;
  cursor: pointer;
}

.server-manager .exit:hover{
  color: var(--pink-hover);
}
.server-manager.server-member-list{
  width: 80%;
}
.server-manager .title {
  width: 100%;
  height: fit-content;
}
.server-manager .title h1{
  font-size: 18px;
  margin-bottom: 12px;
  color: var(--pink-light);
}

.server-manager .title .line{
  border-bottom: 2px solid #534f86b1;
}

.server-manager .bottom{
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.server-manager .list{
  width: 100%;
  display: flex;
  gap: 5px;
  padding-top: 25px;
}

.server-manager .list .item {
  width: 230px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  pointer-events: all;
}

.server-manager .list .item .data h2{
  font-size: 17px;
  color: var(--pink-light);
}
.server-manager .list .item .data p{
  font-size: 13px;
  color: var(--pink);

}


.server-manager .list .item img {
width: 70px;
height: 70px;
background-color: var(--pink-light);
border-radius: 50%;
}


/* -------------NOTIFICATION--------- */

.notification-container{
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: end;
  padding: 10px;
}

.notification{
  background-color: var(--pink-light);
  width: fit-content;
  height: fit-content;
  min-width: 200px;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  gap: 15px;
  position: absolute;
  transform: scale(1);
  transform: translateX(0);
  transition: 0.3s;
  color: var(--purple-light);
}

.notification.hidden{
  transform: scale(0);
  transform: translateX(120%);
}

.notification.server_message{
  min-height: 70px;
  min-width: 300px;
  align-items: center;
  justify-content: start;
}

.notification.server_message img{
  background-color: var(--white);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.notification.server_message h1{
  font-weight: bolder;
}
.notification.server_message p{
  font-size: 11px;
}
.notification.server_message p span{
  font-size: 11px;
  font-weight: bold;
}

.notification h1{
  font-size: 13px;
}

.notification.error{
  color: var(--white);
  border: 2px solid var(--red-light);
  background-color: var(--red);
}

.notification .loading{
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 2s; 
  animation: growWidth 4s infinite linear;
}

.notification.success .loading{
  display: none;
}

@keyframes growWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}