:root{
  --white: #ffff;
  --white-smoke: #E6E6E6;
  --white-smoke2: #c7c3c3;
  --white-smoke-hover: #dcd8d8;
  --grey: #E6E6E6;
  --grey-dark: #A7A9BD;
  --blue: #01779D;
  --blue-light: #0B9AC8;
  --blue-light2: #0fa1d1;
  --blue-grey: #0A7092;
  --pink: #BE80FF;
  --pink-light: rgb(233, 213, 255);
  --pink-hover: #b47bf2;
  --purple: #24285B;
  --purple-dark: #0b0d2a;
  --purple-light : #41468A;
  --purple-light3 : #01779D;
  --purple-light5 : #5CA0B6;
  --purple-light2 : #3B407A;
  --red: #f90057;
  --red-light: #FF5490;
  --red-hover: #FF5490;
  --red-dark: #56011f;

  --width1180: 1180px;
  --width950: 950px;
  --width720: 720px;
  --width540: 540px;
  --transition_03: 0.3s;
  --width1350: 1350px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  
}
.content{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--blue)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pink);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pink-hover);
}

a{
  text-decoration: none;
  color: var(--white);
}


input, button{
  outline: none;
  border: none;
}
.content .container .hidden{
  display: none;
}


/* --Component-- */

.container .input-form.input-check{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: start;
  text-align: center;
  height: auto;

}

.container .input-form.input-check input{
  margin: 0;
  border: none;
  outline: none;
}


/* --alert-- */
.alert-form{
  width: 100%;
  height: 45px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
  /* font-weight: bold; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.alert-form.success{
  /* border: 2px solid var(--pink); */
  color: var(--purple);
  background-color: var(--pink-light);
  
}

.alert-form.danger{
  /* border: 2px solid var(--red); */
  color: var(--white);
  background-color: var(--red-light);
  
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* font.css */
/* @font-face {
  font-family: 'Inter';
  src: url('./Assets/Font/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./Assets/Font/Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@media screen and (min-width: 576px) {
  /*=================================MAIN=================================*/
  nav .header,
  .container {
    max-width: var(--width540);
  }
}

@media screen and (min-width: 768px) {
  /*=================================MAIN=================================*/
  nav .header,
  .container {
    max-width: var(--width720);
  }
}

@media screen and (min-width: 992px) {
  /*=================================MAIN=================================*/
  nav .header,
  .container {
    max-width: var(--width950);
  }
}

@media screen and (min-width: 1200px) {
  /*=================================MAIN=================================*/
  nav .header,
  .container {
    max-width: var(--width1180);
  }
}

@media screen and (min-width: 1392px) {
  /*=================================MAIN=================================*/
  nav .header,
  .container {
    max-width: var(--width1350);
  }
}
